#in1{
  width: 58%;
  height: 30px;
}

#in2{
  width: 58%;
  height: 30px;
}

#in3{
  margin-left: auto;
}
header{
  width:500px;
  float: left;
}
main{
  position:absolute;
  width: 550px;
  float: left;
  margin-left: 700px;
  margin-top: 170px;

}
header img{
  width:600px;
  height:700px;
  clip-path: polygon(0 0, 0 100%, 100% 49%);
}

aside{
  margin-left: 1250px;
  float: right;
  position:absolute;

}
aside img{
  width: 240px;
  height: 80px;

}
footer {

  position: absolute;
  margin-left: 1165px;
  margin-top: 650px;

}

footer a{
  color: #00918e;
  text-decoration: none;
}
#ul{
  position: absolute;
  min-width: 300px;
	list-style: none;
  display: inline;
}
#ul li{

  margin-left: 12px;
  display: inline;
}
button{
  width:60%;
  height: 30px;
}
#h2{
  font-family:arial;
}
#p{
  font-family:arial;
  font-size: 20px;
  margin-left: 4px;
}
#hr{
  border: 2px solid #00918e;
  width: 65px;
  margin-left: 0;
}
