
#in1{
  width: 58%;
  height: 30px;
}

#in2{
  width: 58%;
  height: 30px;
}

#in3{
  margin-left: auto;
}
.image{
  width:500px;
  float: left;
}
.mid{
  width: 400px;
  float: left;
  margin-left: 210px;
  margin-top: 170px;

}
.image img{
  width:600px;
  height:700px;
  clip-path: polygon(0 0, 0 100%, 100% 49%);
}

.header{
  float: right;

}
.header img{
  width: 240px;
  height: 80px;

}
.footer {
  float: right;
  margin-top: 190px;
  margin-left: 300px;

}

.footer a{

	color: #00918e;
	text-decoration: none;
}
button{
  width:60%;
  height: 30px;
}
#h2{
  font-family:arial;
}
#p{
  font-family:arial; font-size: 20px;margin-left: 4px;
}
#hr{
  border: 2px solid #00918e;width: 65px; margin-left: 0;
}
